<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scservo">

  <xacro:macro name="scservo_axle_plate" params="parent name *origin">

    <link name="${parent}/${name}">
        <inertial>
          <origin xyz="0.0 0.0 0.0" />
          <mass value="0.005" />
          <inertia  ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.00001" />
        </inertial>
        <visual>
          <origin xyz="0.0 0.0 0.0" rpy="1.571 0 0" />
          <material name="${name}_aluminum" >
            <color rgba="0.88 0.89 0.88 1.0" />
          </material> 
          <geometry>
            <cylinder radius="0.01" length="0.0015" />
          </geometry>
        </visual>
        <collision>
          <origin xyz="0.0 0.0 0.0" rpy="1.571 0 0" />
          <geometry>
            <cylinder radius="0.01" length="0.002" />
          </geometry>
        </collision>
    </link>

    <gazebo reference="${parent}/${name}">
        <material>${gmaterial}</material>
        <turnGravityOff>false</turnGravityOff>
        <selfCollide>true</selfCollide>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>1000000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <joint name="${parent}/${name}_joint" type="fixed"> 
      <parent link="${parent}" />
      <child  link="${parent}/${name}" />
      <xacro:insert_block name="origin" />
      <!-- <origin xyz="0 0 0" rpy="1.571 0 0" /> -->
    </joint>

  </xacro:macro>


  <xacro:macro name="scservo" params="name type rgba gmaterial" >

    <!-- standard servo size: 20x20x40 millimeters, about 100 grams, origin at axis, at z=10millimeters -->
    <link name="${name}">
        <inertial>
          <origin xyz="0.0 0.0 0.01" />
          <mass value="0.1" />
          <inertia  ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" /> 
        </inertial>
        <visual>
          <origin xyz="0.0 0.0 0.01" rpy="0 0 0" />
          <material name="${name}_material" >
            <color rgba="${rgba}" />
          </material> 
          <geometry>
            <box size="0.02 0.04 0.04" />
          </geometry>
        </visual>
        <collision>
          <origin xyz="0.0 0.0 0.01" rpy="0 0 0" />
          <geometry>
            <box size="0.02 0.04 0.04" />
          </geometry>
        </collision>
    </link>
  
    <gazebo reference="${name}">
        <material>${gmaterial}</material>
        <gravity>true</gravity>
        <selfCollide>true</selfCollide>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <maxVel>0.5</maxVel>
        <minDepth>0.001</minDepth>
        <maxContacts>3</maxContacts>
        <dampingFactor>0.1</dampingFactor>
        <laserRetro>0.6</laserRetro>
        <!-- 
        <fdir>x,y,z direction of mu1 in collision frame</fdir>
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <turnGravityOff>false</turnGravityOff>
        -->
    </gazebo>

    <xacro:scservo_axle_plate parent="${name}" name="front_axle_plate" >
      <origin xyz="0 0.025 0" rpy="0 0 0" />
    </xacro:scservo_axle_plate>

    <xacro:scservo_axle_plate parent="${name}" name="rear_axle_plate" >
      <origin xyz="0 -0.022 0" rpy="0 0 0" />
    </xacro:scservo_axle_plate>

  </xacro:macro>

</robot>
